{% # reference-components v1.0.0 | Copyright © 2024 Archetype Themes LP  | "MIT" License  %}
{%- comment -%}
  Renders the cart status errors

  Accepts:
  - hydration {'on:visible'|'on:idle'|'on:interaction'|'on:media'} - Hydration strategy

  Usage:
  {% render 'cart-status-notifier' %}
{%- endcomment -%}

{%- liquid
  assign hydration = hydration | default: 'on:visible'
-%}

<is-land {{ hydration }}>
  <cart-status-notifier class="status" hidden>
    {%- render 'icon', name: 'alert' -%}
    <span></span>
  </cart-status-notifier>

  <template data-island>
    <script type="module">
      import 'components/cart-status-notifier'
    </script>
  </template>
</is-land>
